# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
appdirs
astroid
attrs
black
brotlipy
cachetools
certifi
cffi
chardet
click
cryptography
entrypoints
flask
flake8
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-resumable-media
googleapis-common-protos
idna
isort
lazy-object-proxy
mccabe
pathspec
protobuf
psycopg2
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pydash
pyflakes
pylint
pyopenssl
pysocks
python-bitcoinlib
pytz
pyyaml
readline
regex
requests
rsa
ruamel_yaml
setuptools
six
tk
toml
tqdm
typed-ast
urllib3
wheel
wrapt
python-xz
